/* Start The Vararibles */
:root{
    --main_Color:#10cab7;
    --section-padding:60px;
    --secondary-color:#2c4755;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

html{
    scroll-behavior: smooth;
}

/* Star Global Rules  */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}


.container{
   
    padding-left: 15px;
    padding-right: 15px;
    margin-left:  auto;
    margin-right:  auto;
     
}
/* Small  */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
     
 }
 /* Meduim */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
     
}
/* Large */
 @media (min-width:1200px) {
    .container{
        width: 1170px;
    }
     
 }
 /* End Global Rules  */
 /* Start Components  */
 .special_Heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special_Heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width:767px){
    .special_Heading{
        font-size: 60px;
    }
    .special_Heading + p{
        
        margin-top: -20px;
    }
}



 /* End Components  */
 /* Start header  */
 .header{
    padding: 20px;
 }
 .header .container{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .header .container .logo{
     width:60px;
 }
 .header .links{
    position:relative;
 }
 .header .links .icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
    
 }
 .header .links:hover .icon span:nth-child(2){
    width: 100%;
}
 .header .links .icon span{
     margin-bottom: 5px;
     background: #333;
     height: 2px;
 }
 .header .links .icon span:first-child{
     
     width: 100%;
}
.header .links .icon span:nth-child(2){
    transition: var(--main-duration); 
     width: 60%;
     
}
.header .links .icon span:last-child{
   
    width: 100%;
}
.header ul{
    position: absolute;
    right: 0;
    min-width: 200px;
    background: #eee;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul{
    display:block;
   
}

.header ul::before{
    content: "";
    border: 10px solid transparent;
    border-bottom:  10px solid #eee;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .links ul li a{
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
 /* End header  */

/* Start Landing Section */

.landing {
    background-image: url(../img/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
   
}
.landing .text_intro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
   
}

.landing .text_intro  h2{
    font-weight: bold;
    color: var(--main_Color);
    font-size: 50px;
    margin: 0;
}
.landing .text_intro  p{
    line-height: 1.8;
    font-size: 19px;  
}

/* End Landing Section */

/* Start Features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;

}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr) );
     grid-gap :20px;
}
.features .feat{
    padding:20px;
    text-align: center;
}
.features .feat i {
    color: var(--main_Color);
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;

}
.features .feat p{
    line-height: 1.8;
    font-size: 17px;
    color: #777;

}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
/* End Features */
/* Start Services */
.services-content{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr) );
  
  grid-gap :30px;
  margin-top: 100px;
   
}

.services-content .col .sev {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:768px){
.services-content .col .sev {
    flex-direction: column;
    text-align: center;

}
}
.services-content .col .sev i{
    color: var(--main_Color);
    flex-basis: 60px;
}
.services-content .col .sev .text{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    flex: 1;
}
.services-content .col .sev h3{
    margin: 0 0 20px;
}
.services-content  .image{
    position: relative;
    text-align: center;
}
.services-content .col img{
    width: 260px;
}

.services-content  .image::before{
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}  
@media (max-width:1199px){
.services-content .image{
    display:none;
}
}
/* End Services */
/* Start Portfalio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
    
}
.portfolio .portfolio-content .cart{
    background: white;
}
.portfolio .portfolio-content .cart img{
    max-width: 100%;

}
.portfolio .portfolio-content .cart .info{
    padding: 20px;
}
.portfolio .portfolio-content .cart .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
.portfolio .portfolio-content .cart .info h3{
    margin: 0;
}

/* End Portfalio */
/* Start About */
.About{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px );
    
}
.About .About-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:980px) {
.About .About-content{
    flex-direction: column;
    text-align: center;
} 
}
.About .About-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
@media(max-width:980px){
.About .About-content .image::after,
.About .About-content .image::before{
    display: none;
}
@media(max-width:980px){
    .About .About-content .image{
        margin-bottom: 60px;
    }
}
}
.About .About-content img{
    max-width: 100%;
}
.About-content hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main_Color);
}
.About .About-content .image::before{
    content: "";
    position: absolute;
    width: 100px;
    background:#ebeced;
    height: calc(100% + 80px);
    left: -20px;
    top: -40px;
    z-index: -1;
}
.About .About-content .image::after{
    top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main_Color);
  border-bottom: 80px solid var(--main_Color);
  z-index: -1;
  right: -150px;
}
.About .About-content .p1{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.About .About-content .p2{
    line-height: 2;
    color: #777;
}

.About .About-content .parag{
    flex-basis: calc(100% - 500px);
}
/* End About */
/* Start Contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: var(--section-background);
}
.contact .info{
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    
}
.contact .info .h-1{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main_Color);
    text-decoration: none;
}@media (max-width:700px) {
    

}
@media (max-width:479px) {
    .contact .info .link{
        font-size: 25px;
    }
    

}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{  
    margin-left: 10px;
    color: var(--secondary-color);
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
  }
  .footer span {
    font-weight: bold;
    color: var(--main_Color);
  }


/* End Footer */